div.container
    div.row
        div.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4(style="margin-top: 50px;")
            .text-center
                img.logo(src='/src/images/wcc_ring.png')
            h1.text-center.login-title Welcome!
            div.account-wall
                form(class='form', action='/login', method='POST')
                    .form-group
                        input#username(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
                    .form-group
                        input#password(type='password', name='password' class='form-control', placeholder='Password', required)
                    .form-group
                        button.btn.btn-primary.btn-block.js-login(type='submit') Sign in
                    span.clearfix
            a.text-center.js-new-account(href='#') Request an account